.bg-text {
  color: #ffe893;
}

a {
  color: #a80000 !important;
}

.tweet {
  border: none !important;
}

.di {
  font-style: italic !important;
}

.logo {
  border: none !important;
  padding: 40px !important;
}

